<shape h="{{ shape.height }}" w="{{ shape.width + 2}}" aspect="fixed">
    <connections>
        <constraint x="0" y="0" perimeter="1" />
        <constraint x="0.25" y="0" perimeter="1" />
        <constraint x="0.5" y="0" perimeter="1" />
        <constraint x="0.75" y="0" perimeter="1" />
        <constraint x="1" y="0" perimeter="1" />
        <constraint x="1" y="0.25" perimeter="1" />
        <constraint x="1" y="0.5" perimeter="1" />
        <constraint x="1" y="0.75" perimeter="1" />
        <constraint x="1" y="1" perimeter="1" />
        <constraint x="0.75" y="1" perimeter="1" />
        <constraint x="0.5" y="1" perimeter="1" />
        <constraint x="0.25" y="1" perimeter="1" />
        <constraint x="0" y="1" perimeter="1" />
        <constraint x="0" y="0.75" perimeter="1" />
        <constraint x="0" y="0.5" perimeter="1" />
        <constraint x="0" y="0.25" perimeter="1" />
    </connections>
    <foreground>
        {# Remove outline of shapes #}
        <strokewidth fixed="0" />
        {# Render external shapes  #}
        <roundrect x="0" y="0" h="{{ shape.height }}" w="{{ shape.width }}" arcsize="12"/>
        <fill />  {# Use color from fillcolor in style  #}

        {# Render internal shapes  #}
        <fillcolor color="#FFFFFF" />
        <roundrect x="7" y="0" h="{{ shape.height }}" w="{{ shape.width - 5 }}" arcsize="15"/>
        <fill />

        {# Render Image / Logo block  #}
        <fillcolor color="#FAFAFA" />
        <rect x="10" y="3" h="18" w="18" />
        <fill />

        {# Render Line  #}
        <strokewidth width="1" />
        <strokecolor color="#FAFAFA" />
        <path>
            <move x="10" y="{{ shape.height / 2 }}" />
            <line x="{{ shape.width - 7}}" y="{{ shape.height / 2 }}" />
        </path>
        <stroke />
    </foreground>
</shape>