<shape h="16" w="16" aspect="fixed" strokewidth="inherit">
  <foreground>
    <strokecolor color="#535C71" />
    <strokewidth width="1" />
    <ellipse x="3" y="1" w="10" h="10" />
    <fillstroke />
    <fillcolor color="#535C71" />
    <path>
      <move x="8" y="11" />
      <line x="6" y="17" />
      <line x="4" y="15" />
      <line x="2" y="15" />
      <line x="5" y="10" />
    </path>
    <fillstroke />
    <path>
      <move x="8" y="11" />
      <line x="10" y="17" />
      <line x="12" y="15" />
      <line x="14" y="15" />
      <line x="11" y="10" />
    </path>
    <fillstroke />
  </foreground>
</shape>